<a href="https://colab.research.google.com/github/AllanAlvarez1/R__Programming_Material/blob/main/R_Notes_Part_Two.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Booleans

An expression can be either true or false. To evaluate an expression in R you can compare two values to get a logical answer of either TRUE or FALSE

In [ ]:
10 > 9
2 < 1
5 == 5
5 == 6

[1] TRUE

[1] FALSE

[1] TRUE

[1] FALSE

In [ ]:
#Compare two variables
a <- 5
b <- 6

a > b
a < b

[1] FALSE

[1] TRUE

You can also run conditions in an if statement

In [ ]:
a <- 100
b <- 50

if(a > b){
  print("A is greater than B!")
} else {
  print("B is greater than A!")
}

[1] "A is greater than B!"

# Arithmetic Operators
* Addition is a + sign
* Subtraction is a - sign
* Multiplication is a * sign
* Division is a / sign
* Exponents are a ^ sign
* The remainder of a number is a %% sign
* Integer Division is a %/% sign

#Assignment Operators
* <-
* <<-
* ->
* ->>

#R Comparison Operators
* The Equal sign is ==
* The Not Equal sign is !=
* The Greater Than sign is >
* The Less Than sign is <
* Greater Than or Equal to sign is >=
* The Less Than or Equal to sign is <=

#Logical Operators
* & returns TRUE if both elements are TRUE
* && returns TRUE if both statements are TRUE
* | is the OR operator. Returns TRUE if one of the statements is TRUE
* || is the OR operator that returns TRUE if one of the statements is TRUE
* ! is the NOT statement that returns FALSE if the statement is TRUE

#Other Operators
* : creates a series of numbers in a sequence like 1:10
* %in% finds out if an element belongs in a vector
* %*% is the operator for Matrix Multiplication

#If Statements
The 'if' keyword is used to specify if a condition is TRUE

In [ ]:
a <- 50
b <- 100

if(b %% a == 0){
   TRUE
}else {
   FALSE
}

[1] TRUE

#Else If
The 'else if' keyword means "If the previous condition was not true, then try this condition.

In [ ]:
a <- 50
b <- 100

if(a == b){
  print("They are equal")
} else if(a < b){
  print("A is less than B.")
}

[1] "A is less than B."

#Else Statement
The 'else' statement catches anything not caught by the conditions made prior.

In [ ]:
a <- 50
b <- 100

if(a > b){
  print("A is Greater than B")
} else{
  print("A is Less than B")
}

[1] "A is Less than B"

#Nested If Statements
You can have if statements inside of other if statements which is called a nested if statement

In [ ]:
x <- 100

if(x > 10){
  print("X is above 10")
  if(x > 101){
    print("X is above 50")
  } else{
    print("X is not above 101")
  }

} else{
  print("X is not above 10")
}

[1] "X is above 10"
[1] "X is not above 101"

#AND Operator
You can use the '&' operator to combine conditional statements.

In [ ]:
a <- 50
b <- 100
c <- 200

if(a < b & c %% a == 0){
  print("Both of these statements are true.")
} else {
  print("One or both of these statements is false.")
}

[1] "Both of these statements are true."

#Or Operator
the '|' operator is the or operator used to combine conditional statements.

In [ ]:
a <- 50
b <- 100

if(a < b | a * 3 < b){
  print("One of these statements is true")
} else{
  print("Both of these statements are false")
}

[1] "One of these statements is true"

#While Loop
Loops can keep executing code as long as the condition is being reached. You can use the 'while' command to execute a statement as long as the conditions are TRUE.

In [ ]:
a <- 0

while(a < 10){
  print(a)
  a <- a + 1
}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9

#Break Statement
The 'break' statement can stop the loop even if the while condition is true.

In [ ]:
x <- 0
while(x < 10){
  print(x)
  x <- x + 1
  if(x == 7){
    break
  }
}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6

#For Loops
a 'for' loop can be used to iterate over a sequence.

In [ ]:
#x starts at 10 and goes until 10
for(x in 1:10){
  print(x)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

#Breaks in For Loops
The break statement can stop the loop before it goes through everything.

In [ ]:
for(x in 1:10){
  print(x)
  if(x == 8){
    break
  }
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8

#Next Statement
The 'next' statement can skip an iterations without stopping the loop

In [ ]:
#Have it skip a specified number
for(x in 1:10){
  if(x == 8){
    next
  }
  print(x)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 9
[1] 10

In [ ]:
#Combo a for loop with an if else statement

for(x in 1:10){
  if(x == 5){
    print(paste("The current number is ", x, ". Number Five!"))
  } else{
    print(paste("The current number is", x, "."))
  }
}

[1] "The current number is 1 ."
[1] "The current number is 2 ."
[1] "The current number is 3 ."
[1] "The current number is 4 ."
[1] "The current number is  5 . Number Five!"
[1] "The current number is 6 ."
[1] "The current number is 7 ."
[1] "The current number is 8 ."
[1] "The current number is 9 ."
[1] "The current number is 10 ."

#Nested Loop
A loop inside of a loop is called a nested loop.

In [ ]:
for(x in 1:10){
  print(x)
  if(x == 10){
    for(y in 11:20){
      print(y)
    if(y == 20){
      break
    }

  }

  }
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
[1] 11
[1] 12
[1] 13
[1] 14
[1] 15
[1] 16
[1] 17
[1] 18
[1] 19
[1] 20

#Functions
A function is a block of code that runs when it is called. You pass data into a function and that functions returns data. The function() keyword is used to create one

In [ ]:
first_function <- function() {
  print("Hello World")
}

In [ ]:
#Call the function
first_function()

[1] "Hello World"

Information can be passed into the functions as arguments.  Arguments are specifided after the function name, within the parentheses. You can separate arguments with a comma.

In [ ]:
my_function <- function(first_name){
  paste(first_name, "Enoshima")
}

my_function("Junko")
my_function("Bill Nye")

[1] "Junko Enoshima"

[1] "Bill Nye Enoshima"

In [ ]:
my_function <- function(first_name, last_name){
  paste(first_name, last_name)
}
my_function("Junko", "Enoshima")

[1] "Junko Enoshima"

#Return Value
You can use the return() function to return a result from a function.

In [ ]:
my_function <- function(x) {
  return( 5 * x)
}
print(my_function(13))
print(my_function(5))

[1] 65
[1] 25

#Nested Functions
You can call a function within another function or you can write a function within a function.

In [ ]:
my_function <- function(x){
  y <- 10 + x
  return (y)
}
my_function(my_function(3))

[1] 23

First it does 10 + 3 then that 13 is put into the function making it 10 + 13, making it 23.

In [4]:
outer_function <- function(x){
  inner_function <- function(y){
    a <- x + y
    return (a)
  }
  return (inner_function)
}
output <- outer_function(5) #First function is 5
output(2) #Second function is 2

[1] 7

#Function Recursion
Function Recursion is when a function can call itself. You can loop through data by using recursion. One way to do this is by having a variable 'k' that subtracts by 1 every time the recursion occurs until it reaches 0 which is when it will stop.

In [19]:
recursion_function <- function(k){
  if(k > 0){
    result <- k + recursion_function(k - 1)
    print(result)
  } else {
    result = 0
    return(result)

  }
}
recursion_function(5)

[1] 1
[1] 3

#Global Variables
Variables that are created outside of a function are known as global variables. They can be used inside and outside of functions.

In [21]:
text <- "Ultimate"
my_function <- function() {
  paste("This is the", text)
}
my_function()

[1] "This is the Ultimate"

#Global Assignment Operator
When you create a variable inside of a function that variable is local. You can turn it into a global assignment operator using the '<<-' sign. You can even use it to change the value of a global variable inside of a function.

In [22]:
my_function <- function() {
local_variable <<- "This is the ultimate"
print(local_variable)
}
my_function()
print(local_variable)

[1] "This is the ultimate"
[1] "This is the ultimate"